<ng-container *ngIf = "post && post.subreddit; then postDetails; else notFound"></ng-container>

<ng-template #postDetails>
    <div class="container">
        <br/>
        <div class="row">
            <div class="col-sm-8">
                <h3>Post details</h3><br/>
                <app-post [post]="post"></app-post>
                <br/><textarea #comment style="margin-top: 4px" class="form-control" rows="5" placeholder="What are your thoughts?"></textarea><br/>
                <button type="button" (click) = "addComment(comment.value)" class="btn btn-info btn-block btn-sm">Submit</button><br/><br/>
                <!-- COMMENTS -->
                <hr/>
                <br/><h3>Comments</h3><br/>
                <ng-container *ngFor = "let comment of post.postComments">
                    <div class="media border p-3">
                        <!-- <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;"> -->
                        <div class="media-body">
                            <h5>{{comment.user.username}} <small><i>Posted on {{comment.time}}</i></small></h5>
                            <p>{{comment.content}}</p>
                        </div>
                    </div><br/>
                </ng-container>
                <!-- END COMMENTS -->
            </div>
            <div class="col-sm-4">
                <h3>Community details</h3><br/>
                <app-community-details [subreddit]="subreddit"></app-community-details>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #notFound>
    <br/><br/>
    <img src = "https://icon-library.net/images/not-found-icon/not-found-icon-15.jpg" style="display: block; margin-left: auto; margin-right: auto;">
</ng-template>
