<ng-container *ngIf = "subreddit; then subredditDetails; else notFound"></ng-container>

<ng-template #subredditDetails>
  <div class="jumbotron text-center">
    <h1>Subreddit banner goes here</h1>
    <p>Some subreddit</p> 
  </div>
      
  <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h3>Posts</h3><br/>
          <!-- POSTS -->
          <div *ngFor = 'let post of posts'>
            <app-post [post]='post'></app-post>
            <br/>
          </div>
          <!-- END POSTS -->
        </div>
        <div class = "col-sm-4">
            <h3>Community details</h3><br/>
            <app-community-details [subreddit]="subreddit"></app-community-details>
        </div>
      </div>
  </div>
</ng-template>
<ng-template #notFound>
    <br/><br/>
    <img src = "https://icon-library.net/images/not-found-icon/not-found-icon-15.jpg" style="display: block; margin-left: auto; margin-right: auto;">
</ng-template>

