<div class="card" *ngIf = "post">
    <div class="card-body">
      <h4 class="card-title"><a style = "text-decoration : none; color : black;" routerLink = "/post/{{post.id}}">{{post.title}}</a></h4>
      <span class="badge badge-pill badge-primary" style="margin-right : 5px"><a class = "white-href" routerLink = "/r/{{post.subreddit.name}}">r/{{post.subreddit.name | titlecase}}</a></span>
      <span class="badge badge-pill badge-dark">{{post.category.name | titlecase}}</span>
      <p class="card-text" style="margin-top : 20px; margin-bottom : 30px"> {{post.content}} </p>
      <button type="button" (click)="upvoteProcess()" [ngClass]="{'btn-success': !postUpvote, 'btn-secondary': postUpvote}" class="btn btn-sm" style="margin-right : 5px">
          {{postUpvote ? 'Upvoted' : 'Upvote'}} <span class="badge badge-light">{{post.nbUpvotes}}</span>
      </button>
      <button type="button" class="btn btn-info btn-sm" routerLink = "/post/{{post.id}}">
          Comment <span class="badge badge-light">{{post.nbComments}}</span>
      </button>
    </div>
</div>