
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Reddit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style="margin-right : 10px">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>  
    </ul>
    <ul class="navbar-nav mx-auto">
      <form class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>   
    </ul>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf = "securityService.isLoggedIn() == true; then loggedIn; else loggedOut"></ng-container>
      <ng-template #loggedIn>
          <li class="nav-item" style = "margin-right : 10px">
            <button type="button" class="btn btn-outline-light" routerLink="/profile">Profile</button>
          </li>
      </ng-template>
      <ng-template #loggedOut>
          <li class="nav-item" style = "margin-right : 10px">
            <button type="button" class="btn btn-outline-light" routerLink="/home">Log in</button>
          </li>
          <li class="nav-item" style = "margin-right : 10px">
            <button type="button" class="btn btn-primary" routerLink="/home">Sign up</button>
          </li>
      </ng-template>
    </ul>
  </div>  
</nav>

<router-outlet></router-outlet>




