<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm-8">
            <h3>Create a post</h3><br/>
            <form>
                <label>Title :</label><input type = "text" class = "form-control"/><br/>
                <label>Content :</label><textarea class="form-control" rows="7" placeholder="What are your thoughts?"></textarea><br/>
                <label>Category :</label>
                <select class = "form-control">
                    <option value="">Sports</option>
                </select><br/>
                <button type="submit" class="btn btn-info btn-block">Submit</button>
            </form>
        </div>
        <div class="col-sm-4">
            <h3>Community details</h3><br/>
            <app-community-details [subreddit]="subreddit"></app-community-details>
        </div>
    </div>
</div>