a.white-href {
    text-decoration : none; 
    color : white;
}

a.black-href {
    text-decoration : none; 
    color : black;
}

a.grey-href {
    text-decoration : none; 
    color : rgb(53, 53, 59);
}