<ng-container *ngIf = "subreddit">
    <div class="card" style="width:400px">
        <br/><img class="card-img-top" src="https://b.thumbs.redditmedia.com/amUXWXfydWmcNl53gdZtOk9GSFoW5V7OJ-BMkvWedcc.png" style="height : 100px; width : 100px; display: block; margin-left: auto; margin-right: auto;" alt="Card image">
        <div class="card-body">
            <h4 class="card-title"><a class="grey-href" routerLink = "/r/{{subreddit.name}}">r/{{subreddit.name | titlecase}}</a></h4>
            <p class="card-text">{{subreddit.description}}</p>
            <button (click) = "subscriptionProcess()" class="btn" style = "margin-right: 5px" [ngClass]="{'btn-primary': !subredditSubscription, 'btn-secondary': subredditSubscription}">
                {{subredditSubscription ? "Unfollow" : "Join"}}</button>
            <button routerLink = "/r/{{subreddit.name}}/submit" class="btn btn-primary">Create post</button>
        </div>
    </div>
</ng-container>